body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #060606;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.navbar {
  display: flex;
  height: 50px;
  justify-content: flex-end;
  align-items: center;
  background-color: #060606;
  border-color: #282828;
  border: 1px solid #282828;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar .auth-links {
  display: flex;
  margin-right: 15em;
}

.navbar .auth-links ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar .auth-links li {
  margin-left: 20px;
}

a {
  color: #888888;
  margin: 5px;
  font-size: 14px;
  text-decoration: none;
}

a:hover {
  color: gray;
}

a.active {
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%; /* Full width */
  padding: 20px;
  color: white;
  margin-top: 50px; /* Adjust for fixed navbar height */
}

h1 {
  text-align: center;
  color: white;
  font-size: 39px;
  font-weight: 100;
}

.checkout-container {
  border: 1px solid green;
  width: 350px;
  height: 180px;
  position: relative;
  margin: auto;
  right: 160px;
}